@page
@using Quadruped.WebInterface.Pages
@using Quadruped.WebInterface.RobotController
@model global::Quadruped.WebInterface.Pages.SettingsPageModel
@{
    ViewData["Title"] = "SettingsPage";
}

<h2>SettingsPage</h2>
<div>
    <form method="post">
        <h3>Video streamer settings</h3>
        <div>Framerate <input asp-for="StreamConfiguration.Framerate" /></div>
        <div>HorizontalResolution <input asp-for="StreamConfiguration.HorizontalResolution"/></div>
        <div>VerticalResolution <input asp-for="StreamConfiguration.VerticalResolution" /></div>
        <div>ImageQuality <input asp-for="StreamConfiguration.ImageQuality" /></div>
        
        <h3>Relaxed stance adjustment</h3>
        <h4>Position</h4>
        <div>X:<input asp-for="RelaxedStance.X" /> Positive is left</div>
        <div>Y:<input asp-for="RelaxedStance.Y" /> Positive is backwards</div>
        <div>Z:<input asp-for="RelaxedStance.Z" /> Negative is upwards</div>
        <h4>Rotation</h4>
        <div>Yaw:<input asp-for="RelaxedStanceRotation.Yaw" /> Positive is left leaning</div>
        <div>Pitch:<input asp-for="RelaxedStanceRotation.Pitch" /> Positive is forward leaning</div>
        <div>Roll:<input asp-for="RelaxedStanceRotation.Roll" /> Positive is right rotation</div>

        <h3>gait configuration</h3>
        <div>FrontLegShift:<input asp-for="RobotConfiguration.FrontLegShift" /> default: @Model.DefaultRobotConfiguration.FrontLegShift</div>
        <div>RearLegShift:<input asp-for="RobotConfiguration.RearLegShift" /> default: @Model.DefaultRobotConfiguration.RearLegShift</div>
        <div>LiftHeight:<input asp-for="RobotConfiguration.LiftHeight" /> default: @Model.DefaultRobotConfiguration.LiftHeight</div>
        <div>Speed:<input asp-for="RobotConfiguration.Speed" /> default: @Model.DefaultRobotConfiguration.Speed</div>
        <div>Step Configuration:<select asp-for="RobotConfiguration.StepConfig" asp-items="Html.GetEnumSelectList<StepConfiguration>()"></select> default: @Model.DefaultRobotConfiguration.StepConfig</div>

        <input type="submit"/>
    </form>
</div>
